# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
coverage/

# Java
target/
*.class
*.jar
*.log

# Python
__pycache__/
*.py[cod]
venv/

# Env
.env
.env.*

# IDE
.idea/
.vscode/

# Logs
*.log
